* {
    padding: 0px;
    margin: 0px;
}

body {
    color: #1F1F1F;
    text-shadow: 0 0 0;
    background: white;
}

.blog-division {
    width: 100%;
    height: 2px;
    background: #ececec;
}

.blog-c {
    background: #fff;
    width: 75%;
    margin: 0px auto;
}

.blog-c header {
    height: 300px;
    width: 100%;
}

.blog-logo {
    height: 80px;
    width: 80px;
    background: #38B7EA;
    border-radius: 100%;
    margin: 0px auto;
    margin-top: 50px;
}

.blog-c header h1 {
    text-align: center;
    margin-top: 10px;
    font-family: latoBlack;
    font-size: 53px;
    color: #1F1F1F;
}

.blog-c header h2 {
    text-align: center;
    width: 70%;
    letter-spacing: 1px;
    line-height: 34px;
    margin: 0px auto;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    font-family: latoHairline;
}

.blog-c section {}

.featured-list {
    padding-bottom: 20px;
}

.blog-featured-heading {
    font-size: 12px;
    font-family: latoHairline;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    line-height: 35px;
}

.featured-posts {
    width: 100%;
    display: flex;
    margin-top: 25px;
}

.fp-each {
    flex: 1;
    min-height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    padding-bottom: 10px;
}

.fp-each:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.fp-image {
    height: 200px;
    width: 100%;
}

.fp-heading {
    font-size: 24px;
    line-height: 26px;
    margin-top: 15px;
}

.fp-description {
    font-size: 17px;
    line-height: 24px;
    font-family: latoHairline;
    margin-top: 10px;
}

.fp-tags {
    margin-top: 10px;
}

.fp-each-tag {
    padding: 2.5px 10px;
    border: 1px solid #38B7EA;
    border-radius: 20px;
    font-size: 14px;
    color: #38B7EA;
    margin-right: 5px;
}

.fp-timing {
    color: #8F9FAF;
    font-size: 14px;
    font-family: latoHairline;
    margin-top: 10px;
}

.bottom-section {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.all-posts {
    flex: 2;
}

.eb-post {
    margin-top: 20px;
    padding-bottom: 50px;
    /*background: red;*/
    width: 95%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.about-person {
    flex: 1;
    margin-left: 30px;
}

.eb-about {
    display: flex;
}

.eb-post-pic-upper {
    flex: 1;
}

.eb-about-pic {
    height: 50px;
    width: 50px;
}

.eb-about-right {
    flex: 10;
    align-self: center;
    /*background: red;*/
}

.eb-about-name {
    font-family: latoLight;
    font-size: 17px;
    color: #38B7EA;
}

.eb-about-date {
    color: #8F9FAF;
    font-size: 13px;
    font-family: latoLight;
    margin-top: 2px;
}

.eb-pic {
    height: 250px;
    width: 100%;
    background: red;
    margin-top: 10px;
}

.eb-heading {
    margin-top: 20px;
}

.eb-desc {
    font-family: latoHairline;
    font-size: 19px;
    margin-top: 10px;
}

.eb-post-stats {
    margin-top: 20px;
    display: flex;
}

.eb-post-like {
    width: 25px;
    height: 25px;
    align-self: center;
}

.eb-like-count {
    align-self: center;
    margin-left: 5px;
    font-family: latoLight;
    cursor: pinter;
    color: #8F9FAF;
}

.eb-like-count:hover {
    color: #38B7EA;
    cursor: pointer;
}

.about-blogger {
    width: 100%;
    margin-top: 20px;
}

.blogger-pic-name {
    display: flex;
}

.blogger-pic {
    width: 50px;
    height: 50px;
    background: #38B7EA;
    border-radius: 100%;
    align-self: center;
}

.blogger-name {
    align-self: center;
    font-family: latoLight;
    font-size: 20px;
    text-indent: 10px;
    color: #38B7EA;
}

.blogger-desc {
    margin-top: 14px;
    line-height: 20px;
    font-size: 16px;
    color: #1F1F1F;
    font-family: latoLight;
}

.blogger-more-info-button {
    display: inline-block;
    margin-top: 20px;
    line-height: 24px;
    padding: 2px 15px;
    border-radius: 20px;
    border: 1px solid #38B7EA;
    color: #38B7EA;
}

.blogger-follower {
    margin-top: 15px;
    text-indent: 5px;
}

.blogger-follower h4 {
    font-size: 12px;
    line-height: 20px;
    font-family: latoHairline;
    color: rgba(0, 0, 0, 0.5);
}

.blogger-follower h5 {
    font-size: 14px;
    font-family: latoHairline;
    color: rgba(0, 0, 0, 0.9);
}

.blogger-links {
    display: flex;
}

.blogger-links a {
    padding: 5px;
}

.blogger-follow-link {
    font-size: 17px;
    line-height: 20px;
    font-family: latoLight;
    text-indent: 5px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
}

.blogger-links-upper {
    margin-top: 15px;
}

.article-view {
    width: 70%;
    margin: 0px auto;
}


.article-body {
    min-height: 100px;
    /*background: yellow;*/
}

.article-blogger-body-div {
    height: 1px;
    background: #eee;
    margin-top: 50px;
}

.article-blogger-body-div-lower {
    height: 1px;
    background: #eee;
}

.e-back {
    /*background: #eee;*/
}

.article-blogger-profile {
    padding-top: 0px;
    display: flex;
    width: 100%;
    height: 90px;
    /*background: red;*/
    margin: 20px auto;
    width: 80%;
}

.article-blogger-pic {
    flex: 1;
    display: flex;
}

.article-blogger-pic-inner {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 0px auto;
    align-self: center;
    border: 2px solid #eee;
}

.article-blogger-bio {
    flex: 4;
    /*background: green;*/
    align-self: center;
    margin-left: 10px;
}

.article-blogger-bio h2 {
    font-size: 20px;
    font-weight: 100;
    color: #222;
}

.article-blogger-bio p {
    font-size: 14px;
    color: #999;
    font-weight: 100;
}

.article-blogger-follow {
    flex: 1;
    /*background: blue;*/
    display: flex;
}

.article-blogger-follow-inner {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #38B7EA;
    border-radius: 20px;
    align-self: center;
}

.blogger-article-social {
    width: 100%;
    font-family: latoLight;
    color: #aaa;
    font-size: 14px;
}

.article-comments-upper {
    min-height: 100px;
    background: #eee;
    padding-bottom: 70px;
    padding-top: 70px;
}

.each-comment   {
    width: 50%;
    margin: 20px auto;
    background: red;
    background: #fff;
    padding: 20px;
}

.each-comment p {
    margin-top: 10px;
    font-size: 17px;
    font-family: latoLight;
    margin-bottom: 7px;
}

.each-comment textarea {
    resize: vertical;
    height: 70px;
    width: 100%;
    border-radius: 3px;
    margin-top: 20px;
    border: 1px solid #38B7EA;
}


.comments-article-heading   {
    width: 50%;
    margin: 0px auto;
}


.article-comment-submit {
    display: inline-block;
    /*background: #eee;*/
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid #38B7EA;
}

.article-comment-submit:active  {
    background: #38B7EA;
}

.article-comment-submit-upper   {
    display: flex;
    /*background: red;*/
    margin-top: 7px;
    justify-content: flex-end;
}










